.form-control {
  display: flex;
  flex-direction: column;
  justify-content: cener;
  align-items: center;
  gap: 4px;
}

.form-control label {
  font-weight: bold;
}

.form-control input {
  padding: 8px 4px;
  width: 200px;
}

button {
  margin-top: 20px;
  background:tomato;
  color: white;
  border: none;
  width: 200px;
  height: 30px;
}

form {
  background-color: bisque;
}

.uncontrolled-form {
  background-color: burlywood;
}